//cor
$pink: #ED1556;

//efeito
$transion: .3s ease-in-out;

//fonte
@import url("https://fonts.cdnfonts.com/css/lemonmilk");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');

$font-ruby: "Rubik", sans-serif;
$font-Lemon: "Lemon/Milk light", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;
$font-Arsenal:'Arsenal', sans-seri;

