.container-about{
    padding: 2rem 0;
    h2{
        color: $pink;
        font-size: 2.4rem;
        font-family: $font-Montserrat;
    }
    p{
        font-family: $font-Montserrat;
        color: black;
        margin-bottom: 2rem;
        padding: .5rem 0;
    }
}

.container-about__cta{
    background: $pink;
    padding: 2rem 0;
    .container-main{
        text-align: center;
        h2{
            font-size: 2.4rem;
            color: white;
            padding: 0rem 0 1rem 0;
        }
        img{
            transform: scale(.8);
        }
        button{
            padding: 1rem 2rem;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            font-family:$font-Montserrat ;
            font-weight: bold;
            font-size: 1rem;
            color: $pink;
            background: white;
            &:hover{
                background-color: $pink;
                color: white;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
        }
    }
    }

    @media(max-width:480px){

        .container-about h2{
            font-size: 2.1rem;
        }
        .container-about__cta .container-main h2{
            font-size: 2.1rem;
        }
    }

