@import url(https://fonts.cdnfonts.com/css/lemonmilk);@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;

500;600;700;800;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap);.nav-header {
  display: grid;
  align-items: center;
  height: 110px;
  padding: 0 1rem;
  grid-template-columns: 30% 70%;
  grid-template-areas: "logo nav nav";
}

.nav-header__logo {
  grid-area: logo;
}

.nav-header__logo img {
  width: 100px;
  height: 60px;
}

button.nav-header_button-mobile {
  display: none;
}

.nav-header__button-mobile {
  display: none;
  grid-area: menuMobile;
  width: 25px;
  height: 20px;
  align-self: flex-end;
  border: none;
  background: transparent;
}

.nav-header__list {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-header__list {
  list-style: none;
}

.nav-header__list li a {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

.nav-header__list li a:hover {
  color: red;
}

.nav-header__list li.occupation-area {
  position: relative;
}

.nav-header__list li.occupation-area .occupation-area__button {
  position: absolute;
  top: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  display: block;
  background-color: red;
  width: 27px;
  height: 27px;
  right: 44%;
  padding-top: 5px;
  cursor: pointer;
}

.nav-header__list li.occupation-area .occupation-area__button:hover {
  background-color: black;
  box-shadow: 0 0 11px rgba(75, 66, 66, 0.2);
}

.nav-header__list li.occupation-area .occupation-area__button:hover > .icon-arrow svg g path {
  stroke: red;
}

.nav-header__list li.consult-an-expert a {
  background-color: red;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  color: white;
  font-weight: bold;
}

.nav-header__list li.consult-an-expert a:hover {
  color: red;
  background-color: white;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.nav-header__list li + li {
  margin-left: 30px;
}

@media (max-width: 1100px) {
  button.nav-header_button-mobile {
    display: block;
    display: flex;
    flex-direction: flex-end;
    border: none;
    background-color: transparent;
    justify-content: flex-end;
  }

  .nav-header {
    grid-template-areas: "logo menuMobile" "nav nav";
    grid-template-columns: 50% 50%;
    padding: 1rem 1.2rem !important;
    height: auto;
  }

  .nav-header__button-mobile {
    display: block;
    align-self: center;
    justify-self: flex-end;
  }

  .nav-header__list {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav-header__list li.consult-an-expert {
    width: 100%;
  }

  .nav-header__list li.consult-an-expert a {
    padding: 0;
    background: none;
    width: 100%;
    display: inline-block;
    color: black;
    font-weight: inherit;
    border-radius: 0;
  }

  .nav-header__list li.consult-an-expert a:hover {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 0;
    color: red;
    box-shadow: 0 0 0px rgba(33, 33, 33, 0.2);
  }

  .nav-header__list li.occupation-area .occupation-area__button {
    display: none;
  }

  .nav-header__list li {
    width: 100%;
  }

  .nav-header__list li:hover {
    border-bottom: 1px solid red;
    width: 100%;
  }

  .nav-header__list li a {
    width: 100%;
    display: inline-block;
  }

  .nav-header__list li a:hover {
    border-bottom: transparent;
  }

  .nav-header__list li + li {
    margin: 1rem 0 0 0;
  }

  .nav-header.active .nav-header__list {
    padding: 1.3rem 0 0 0;
  }

  .nav-header.active .nav-header__list {
    height: 220px !important;
  }

  .hamburger {
    border-top: 2px solid;
    width: 24px;
    display: block;
  }

  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  .nav-header.active .hamburger {
    border-top-color: transparent;
  }

  .nav-header.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav-header.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media (max-width: 650px) {
  .nav-header {
    grid-template-areas: "logo menuMobile" "nav nav";
    grid-template-columns: 90% 10%;
    padding: 1rem 1.2rem;
  }
}

@media (max-width: 380px) {
  .nav-header__logo img {
    max-width: 200px;
    height: 42px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 255px) {
  .nav-header__logo img {
    width: 130px;
    height: 30px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container-main {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.default-button button {
  padding: 0.6rem 2.5rem;
  border: none;
  background: #ED1556;
  color: white;
  font-size: 17px;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.default-button button:hover {
  background: white;
  color: #ED1556;
}

.slide-home .slide-home_container {
  position: relative;
}

.slide-home .slide-home_container .slide-home_image {
  height: 500px;
}

.slide-home .slide-home_container .slide-home_image img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-home .slide-home_container .slide-home_content {
  position: absolute;
  top: 0;
  padding-top: 9rem;
}

.slide-home .slide-home_container .slide-home_content h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 40px;
}

.slide-home .slide-home_container .slide-home_content h2 span {
  background-color: #ED1556;
  color: #FFF;
  box-shadow: 0px 0px 0 7px #ED1556, 10px 0px 0 7px #ED1556, 0 0 0 7px #ED1556;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.slide-home .swiper .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #ED1556;
  width: 12px;
  height: 12px;
}

.slide-home .swiper .swiper-pagination-bullet-active {
  background: #ED1556;
}

.slide-home .swiper .swiper-button-next::after,
.slide-home .swiper .swiper-rtl .swiper-button-prev::after,
.slide-home .swiper .swiper-button-prev::after,
.slide-home .swiper .swiper-rtl .swiper-button-next::after {
  content: "";
  width: 60px !important;
  height: 30px;
  background-image: url("/img/global/arrow-slide.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-home .swiper .swiper-button-prev::after,
.slide-home .swiper .swiper-rtl .swiper-button-next::after {
  background-image: url("/img/global/arrow-slide-left.svg");
}

.slide-home .swiper .swiper-button-next,
.slide-home .swiper .swiper-button-prev {
  width: auto;
}

.slide-home .swiper .swiper-button-prev,
.slide-home .swiper .swiper-rtl .swiper-button-next {
  left: auto;
  right: 82px;
}

.slide-home .swiper .swiper-horizontal > .swiper-pagination-bullets,
.slide-home .swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.slide-home .swiper .swiper-pagination-custom,
.slide-home .swiper .swiper-pagination-fraction {
  bottom: 20px;
}

.container-slide-pagination {
  max-width: 1350px;
  padding: 0 1rem;
  height: 10px;
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0 auto;
  background-color: red;
  left: -50%;
  right: -50%;
}

@media (max-width: 480px) {
  .slide-home .swiper-button-prev,
  .slide-home .swiper-button-next {
    display: none;
  }
}

@media (max-width: 340px) {
  .slide-home .slide-home_container .slide-home_content h2 {
    font-size: 2.7rem;
  }
}

.about-container {
  position: relative;
}

.about-container .about-container__content {
  padding: 2rem 0;
}

.about-container .about-container__content h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.7rem;
  line-height: 40px;
}

.about-container .about-container__content h1 span {
  color: #ED1556;
  display: block;
  font-weight: bold;
}

.about-container .about-container__content .about-container__text {
  font-family: "Montserrat", sans-serif;
  padding: 1.2rem 0 0.7rem 0;
}

@keyframes arrow {
  from {
    left: 10px;
  }

  to {
    left: 0px;
  }
}

.about-container .about-container__content a {
  display: flex;
  align-items: center;
  color: rgba(187, 187, 187, 0.69);
  cursor: pointer;
}

.about-container .about-container__content a p {
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease-in-out;
}

.about-container .about-container__content a img {
  transform: scale(0.7);
}

.about-container .about-container__content a:hover p {
  color: #ED1556;
}

.about-container .about-container__content a:hover img {
  position: relative;
  animation: arrow;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.about-container::after {
  content: "";
  width: 40%;
  height: 100%;
  background-color: #ED1556;
  -webkit-clip-path: polygon(31% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(31% 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  right: 0px;
  top: 0;
}

@media (max-width: 820px) {
  .about-container::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .about-container .about-container__content h1 {
    font-size: 2.1rem;
    line-height: normal;
  }

  .about-container .about-container__content .about-container__text {
    padding: 0.5rem 0 0.7rem 0;
  }
}

.container-services {
  background-color: #ED1556;
  padding: 2rem 0;
}

.container-services .container-services__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 850px;
  margin: 0 auto;
}

.container-services .container-services__title {
  text-align: center;
  color: white;
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
}

.container-services .card {
  max-width: 250px;
  border-radius: 10px;
  padding: 2rem;
  text-decoration: none;
  display: block;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ED1556;
  position: relative;
  margin-top: 2rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.container-services .card h2 {
  font-family: "Montserrat", sans-serif;
  padding: 1rem 0 4rem 0;
  font-size: 1.3rem;
}

.container-services .card .container-services__button {
  background: #ED1556;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0.7rem;
  border-radius: 30px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-services .card .container-services__button svg {
  transform: scale(0.977);
}

.container-services .card .container-services__image {
  width: 160px;
  height: 160px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #ED1556;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-services .card:hover {
  transform: scale(0.9);
}

@media (max-width: 480px) {
  .container-services .container-services__title {
    font-size: 2.1rem;
  }
}

.container-partners {
  padding: 2rem 0;
}

.container-partners .container-partners__title {
  font-size: 2.4rem;
  text-align: center;
  color: #ED1556;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2rem;
}

.container-partners .container-partners__slide {
  max-width: 900px;
  margin: 0 auto;
}

.container-partners .container-partners__slide .swiper.partners {
  height: 140px;
}

.container-partners .container-partners__slide .swiper-slide {
  text-align: center;
}

.container-partners .container-partners__slide .swiper .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #ED1556;
  width: 12px;
  height: 12px;
}

.container-partners .container-partners__slide .swiper .swiper-pagination-bullet-active {
  background-color: #ED1556;
}

.container-partners .container-partners__slide .swiper-button-next:after,
.container-partners .container-partners__slide .swiper-rtl .swiper-button-prev:after,
.container-partners .container-partners__slide .swiper-button-next:after,
.container-partners .container-partners__slide .swiper-button-prev:after {
  color: #ED1556;
}

@media (max-width: 480px) {
  .container-partners .container-partners__title {
    font-size: 2.1rem;
  }
}

.container-reviews {
  padding: 2rem 0;
}

.container-reviews .container-reviews__title {
  font-size: 2.4rem;
  font-size: "Montserrat", sans-serif;
  color: #ED1556;
  position: relative;
  padding-left: 10px;
}

.container-reviews .container-reviews__title::after {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #ED1556;
  position: absolute;
  left: 0;
}

.container-reviews .WidgetTitle__Container-sc-173f1y-0,
.container-reviews .HeaderContainer__Inner-sc-pny2b8-0.gNtCnN.Header__StyledHeaderContainer-sc-gozq6j-0.LayoutDefault__StyledHeader-sc-1ydej6v-1.gGgqlY {
  display: none;
}

.container-reviews a[href="https://elfsight.com/google-reviews-widget/?utm_source=websites&utm_medium=clients&utm_content=google-reviews&utm_term=127.0.0.1&utm_campaign=free-widget"] {
  display: none;
}

.container-reviews .button__review {
  padding: 1rem 2rem;
  background-color: #ED1556 !important;
  border-radius: 5px;
  font-weight: bold;
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.container-reviews .button__review:hover {
  transform: scale(0.9);
}

.container-reviews .gBQoNy {
  display: flex !important;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .container-reviews .container-review__controll {
    grid-template-columns: repeat(2, minmax(0px, 1fr)) !important;
    gap: 20px;
  }
}

@media (max-width: 750px) {
  .container-reviews .container-review__controll {
    grid-template-columns: repeat(1, minmax(0px, 1fr)) !important;
  }
}

@media (max-width: 480px) {
  .container-reviews .container-reviews__title {
    font-size: 2.1rem;
  }
}

.container-translation {
  background: #ED1556;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  padding: 2rem 0;
}

.container-translation h2 {
  font-size: 2.4rem;
}

.container-translation .container-trasnlation__languages {
  display: flex;
  justify-content: center;
}

.container-translation .container-trasnlation__languages p {
  opacity: 50%;
  padding: 1rem 0;
}

.container-translation .container-trasnlation__languages p + p {
  margin-left: 1rem;
}

.container-translation button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  background: white;
  color: #ED1556;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.container-translation button:hover {
  background-color: #ED1556;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 730px) {
  .container-translation .container-trasnlation__languages {
    display: none;
  }

  .container-translation h2 {
    padding-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .container-translation h2 {
    font-size: 2.1rem;
    text-align: center;
  }
}

.container-footer {
  font-family: "Montserrat", sans-serif;
  padding: 3rem 0;
}

.container-footer a {
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
}

.container-footer .social-midia {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  padding-top: 2rem;
}

.container-footer .social-midia a {
  width: 30px;
  height: 30px;
  display: block;
  transform: scale(1.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ED1556;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: 0.3s ease-in-out;
  transform: scale(0.989);
}

.container-footer .social-midia a:hover {
  transform: scale(0.977);
}

.container-footer .social-midia a img {
  -o-object-fit: contain;
     object-fit: contain;
}

.container-footer .container-main {
  display: flex;
  justify-content: space-between;
}

.container-footer .container-main .footer-item {
  max-width: 350px;
}

.container-footer .container-main .footer-item ul li {
  position: relative;
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.container-footer .container-main .footer-item ul li::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url(/images/arrow-footer.png?7b11b1e15ebec3343f02a29735454246) no-repeat;
  position: absolute;
  top: 0;
  left: -15px;
}

.container-footer .container-main .loc {
  font-family: "Montserrat", sans-serif;
}

.container-footer .container-main .loc h3 {
  padding-bottom: 0.5rem;
}

.container-footer .container-main .loc a {
  display: flex;
  align-items: center;
}

.container-footer .container-main .loc a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.container-footer .container-main .loc p {
  margin-bottom: 0.5rem;
}

.container-footer .container-main .loc a + a {
  margin-top: 0.5rem;
}

.container-copy {
  background: #ED1556;
  text-align: center;
  padding: 2rem 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 14px;
}

@media (max-width: 730px) {
  .container-footer .container-main {
    flex-direction: column;
    align-items: center;
  }

  .container-footer .container-main .footer-item {
    text-align: center;
  }
}

